
.OrderSteps
{
    /* background-color: #c74040; */
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 2rem;
    
    color: cadetblue !important;
    font-weight: bold;

}

.OrderStepsActive
{
    background-color: #c74040;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 2rem;
    color: white;

}
.ClodeBtnModel
{
    position: absolute;
    overflow: auto;
    
}
.projectListModel
{
    position: absolute;
    top: 70px;
    left: 223px;
    right: 0px;
    bottom: 0px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
